meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fundamentos del vestuario II
meta(meta name="description" content="Es necesario conceptualizar respecto a todas las bases de conocimiento en torno a la teoría del color y la ergonomía de las prendas, dos componentes básicos a tener en cuenta en el desarrollo de la colección y la elaboración de prendas de vestir.")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")