.container#analisis

    .header-ecored
        h1 2. Análisis Funcional

    .card.shadow
        .card-body
            .row
                .col-12.col-md-6
                    p El concepto de funcionalidad en cuanto al vestuario, ha cambiado a través de la historia de la humanidad. En un comienzo la función del vestuario fue proteger de las condiciones climáticas, animales o factores externos.
                    p.mt-4 Luego, se le fueron adicionando funciones extras que permitieron la comunicación por medio de los códigos de vestir.
                    p.mt-4 Posteriormente, tras el estudio de las relaciones físicas del ser humano con su entorno, a partir de la ergonomía, se establecen conceptos de modelación y comodidad del vestuario, dando como resultado prendas de vestir adecuadas a la forma y capacidades del cuerpo humano.
                    p.mt-4 En la actualidad, al implementar las nuevas tecnologías, se han logrado materiales con funciones adicionales y procesos de producción tecnológicos que dan paso a prendas con protección (antibalas, ignífugas, a los rayos UV, antibacterianas, antimicrobianas), usos comunicativos (luces led, cambios de color), que adicionan dispositivos de la sensórica que permiten monitorear signos vitales (temperatura, ritmo cardiaco, presión arterial), entre otros nuevos usos de la ropa.
                .col-12.col-md-6
                    img.img-fluid(src="assets/images/pages/img19.png", style="max-width: 80%").img-a
    
    br#conceptos

    .header-ecored
        h2 2.1 Conceptos y definiciones de la función del vestuario con relación al cuerpo
    
    .card.shadow
        .card-body.bg-color1
            img.img-fluid(src="assets/images/pages/img7.svg", style="max-width: 100%").img-a1
    
    .row.mx-0.bg-color1.rounded.mt-4.shadow
        .col-12.my-5
            .row.justify-content-center
                .col-auto
                    img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%")
                .col-9
                    p.mb-0 (Adaptado de Cora, V., (2011); Fernández-Dilva & Velásquez., (2013); C Fernández (2013); González G., (2008); Jones (2002).

                .col-auto.align-self-end
                    img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 100%")

    .row.mt-4.shadow.mx-0
        .col-12.px-0
            nav.nav-tab-ecored
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-05-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='true')
                        strong ¿Por qué nos vestimos? 
                    a#nav-06-tab.nav-item.nav-link(data-toggle='tab', href='#nav-06', role='tab', aria-controls='nav-06', aria-selected='false')
                        strong Why Do We Wear Clothes?
                #nav-tabContent.tab-content
                    #nav-05.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-05-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/prrhTLfMKNg', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    #nav-06.tab-pane.fade(role='tabpanel', aria-labelledby='nav-06-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/E4HGfagANiQ', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .col-12.bg-color5
            section.my-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://proyectomedussa.com/el-vestuario-como-identidad-del-gesto-personal-al-colectivo/" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p El vestuario como identidad, del gesto personal al colectivo
    
    br#vestuario

    .header-ecored
        h2 2.2 El vestuario y la funcionalidad
    
    .card.shadow
        .row
            .col-12.pt-4.px-5
                p Actualmente, las metodologías de diseño proyectual se centran en las personas y sus requerimientos, desde sus tres ejes: comunicación, función y producción. #[b.txt-color1 La funcionalidad de las prendas de vestir, se refiere a que estén hechas para la facilidad, utilidad y comodidad al momento de ser usadas]. Es decir, según el uso que se le dará y quién la usará se tendrá que configurar o planear de una u otra forma.
        .card-body.bg-color6
            .row
                .col-12.col-md-6
                    p La funcionalidad del vestuario incluye:
                    .row.justify-content-center
                        .col-11
                            .list.align-items-center.mt-4
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/v1.svg").img-fluid  
                                .list__txt
                                    p.mb-0 El análisis de la necesidad a solucionar.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/v1.svg").img-fluid  
                                .list__txt
                                    p.mb-0 La selección adecuada de las materias primas e insumos.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/v1.svg").img-fluid  
                                .list__txt
                                    p.mb-0 El trazado de los patrones.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/v1.svg").img-fluid  
                                .list__txt
                                    p.mb-0 El tipo de silueta.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/v1.svg").img-fluid  
                                .list__txt
                                    p.mb-0 El mensaje a comunicar.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/v1.svg").img-fluid  
                                .list__txt
                                    p.mb-0 El contexto y sus condiciones climáticas.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img(src="assets/images/pages/v1.svg").img-fluid  
                                .list__txt
                                    p.mb-0 Las técnicas y tecnologías disponibles para su fabricación, entre otras.
                    p.mt-4 Adaptado de Veneziani (2011), Dinngo (s.f.); Munari (2016a, 2016b)
        .row
            .col-12
                nav.nav-tab-ecored
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-07-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-07', role='tab', aria-controls='nav-07', aria-selected='true')
                            strong Estética y función en el diseño
                        a#nav-08-tab.nav-item.nav-link(data-toggle='tab', href='#nav-08', role='tab', aria-controls='nav-08', aria-selected='false')
                            strong Función y forma
                        a#nav-09-tab.nav-item.nav-link(data-toggle='tab', href='#nav-09', role='tab', aria-controls='nav-09', aria-selected='false')
                            strong La Police Gear
                        a#nav-10-tab.nav-item.nav-link(data-toggle='tab', href='#nav-10', role='tab', aria-controls='nav-10', aria-selected='false')
                            strong Ropa ténica y minimalista para viajar cómodo
                    #nav-tabContent.tab-content
                        #nav-07.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-07-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/VwcEM7yH_BY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-08.tab-pane.fade(role='tabpanel', aria-labelledby='nav-08-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/gDdecWi3Cqo', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-09.tab-pane.fade(role='tabpanel', aria-labelledby='nav-09-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/9c804j6JkcM', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-10.tab-pane.fade(role='tabpanel', aria-labelledby='nav-10-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/C--IDz6VPgc', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row
            .col-12
                nav.nav-tab-ecored
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-11-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-11', role='tab', aria-controls='nav-11', aria-selected='true')
                            strong Ropa térmica para futbolistas
                        a#nav-12-tab.nav-item.nav-link(data-toggle='tab', href='#nav-12', role='tab', aria-controls='nav-12', aria-selected='false')
                            strong Ropa infantil funcional y ecológica
                        a#nav-13-tab.nav-item.nav-link(data-toggle='tab', href='#nav-13', role='tab', aria-controls='nav-13', aria-selected='false')
                            strong H&M for brick lane bikes: coming together
                        a#nav-14-tab.nav-item.nav-link(data-toggle='tab', href='#nav-14', role='tab', aria-controls='nav-14', aria-selected='false')
                            strong H&M for brick lane bikes: men's fashion
                    #nav-tabContent.tab-content
                        #nav-11.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-11-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/TW_EP9gr8ro', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-12.tab-pane.fade(role='tabpanel', aria-labelledby='nav-12-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/CWAKQ9BOJP0', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-13.tab-pane.fade(role='tabpanel', aria-labelledby='nav-13-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/mzxS3vl0418', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-14.tab-pane.fade(role='tabpanel', aria-labelledby='nav-14-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/SevMbAEKV34', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#funcionalidad

    .header-ecored
        h2 2.3 Funcionalidad y estética del vestuario
    
    .card.shadow
        .card-body.bg-color3
            img.img-fluid(src="assets/images/pages/img8.svg", style="max-width: 100%").img-a1
            p.mt-4.text-center #[i Adaptado de Veneziani, M. (2011); Fernández, G. (2016); González, G. (2008); Neumivakin. (s.f).; Pacheco. (2019).]
        .row.justify-content-center.p-4.bg-color5.mx-0
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/_tAyf9tOkW4', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.protocolo.org/social/vestuario/la-indumentaria-que-decimos-con-nuestra-forma-de-vestir.html" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p La indumentaria. ¿Qué 'decimos' con nuestra forma de vestir?
    
    br#funcionalidad1

    .header-ecored
        h2 2.4 Funcionalidad y comodidad: ergonomía del vestuario
    
    .card.shadow
        img.img-fluid(src="assets/images/pages/img22.png", style="max-width: 80%").img-a1.mt-4
        .card-body
            .row
                .col-12.col-md-6
                    section.mt-4
                        .row.justify-content-center
                            .col-auto
                                a(href="https://www.tvu.cl/comunidades/modas/2017/08/02/ejemplos-de-ergonomia-en-el-vestuario-y-la-moda.html" target="_blank").media-link
                                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                    .media-link-title
                                        p Ejemplos de ergonomía en el vestuario y la moda
                .col-12.col-md-6
                    section.mt-4
                        .row.justify-content-center
                            .col-auto
                                a(href="https://psicologiaymente.com/miscelanea/ergonomia" target="_blank").media-link
                                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                    .media-link-title
                                        p Ergonomía: qué es y cuáles son sus 4 tipos y funciones
                .col-12.col-md-6
                    section.mt-4
                        .row.justify-content-center
                            .col-auto
                                a(href="https://id.pinterest.com/krisnapramadita/ergonomic-fashion/" target="_blank").media-link
                                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                    .media-link-title
                                        p Ergonomic Fashion
                .col-12.col-md-6
                    section.mt-4
                        .row.justify-content-center
                            .col-auto
                                a(href="http://antropometria.herokuapp.com/" target="_blank").media-link
                                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                    .media-link-title
                                        p AntropometriaApp
                .col-12
                    section.mt-4
                        .row.justify-content-center
                            .col-auto
                                a(href="media/documentos/Anexo_9_TECMOD.pdf" target="_blank").media-link
                                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                                    .media-link-title
                                        p TECMOD
    
    br#funcionalidad2

    .header-ecored
        h2 2.5 Funcionalidad y modelación del cuerpo
    
    .card.shadow
        .card-body
            .row.align-items-center
                .col-12.col-md-6
                    img.img-fluid(src="assets/images/pages/img9.svg", style="max-width: 80%").img-a
                .col-12.col-md-6
                    p El concepto de #[b.txt-color1 funcionalidad] que se conoce hoy en día nace en la NASA, con la implementación de funciones adicionales al vestuario. Es allí en donde funciones tales como modelación, movimiento, ajuste y escalado se hacen #[b.txt-color1 necesarias] cobrando fuerza la importancia de utilizar la indumentaria adecuada para la realización de una tarea específica.
                    p.mt-4 Con respecto a las propiedades adicionadas a las funciones básicas del vestuario (protección, comodidad y bienestar) se encuentran las de control, prendas de vestir que moldean, estilizan, dan soporte y ayudan a corregir la postura. En los últimos años se han convertido en productos cada vez más buscados por los consumidores, como ayuda a lucir un cuerpo acorde con los cánones de belleza, con confianza y discreción. Reconfigurando el cuerpo, adicionando y disminuyendo volúmenes donde se desea, efecto obtenido con el uso de materiales elásticos y firmes. Estas prendas deben ofrecer comodidad, la cual se puede lograr con textiles respirables y de tecnología de control antihumedad.
                    p.mt-4 #[i Adaptado de Baena & Baquero (2006, 2007), Barraza (2010), Fernández (2013), Fernández & Echeverri (2013); López (2010), Suny. (2018)]
        .row
            .col-12
                nav.nav-tab-ecored
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-15-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-15', role='tab', aria-controls='nav-15', aria-selected='true')
                            strong This Is The Shapewear You MUST Have!
                        a#nav-16-tab.nav-item.nav-link(data-toggle='tab', href='#nav-16', role='tab', aria-controls='nav-16', aria-selected='false')
                            strong Vestido de baño con control de abdomen
                    #nav-tabContent.tab-content
                        #nav-15.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-15-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/efH0S6geVwk', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-16.tab-pane.fade(role='tabpanel', aria-labelledby='nav-16-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/zpat2C2yQbg', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row
            .col-12
                nav.nav-tab-ecored
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-17-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-17', role='tab', aria-controls='nav-17', aria-selected='true')
                            strong LEONISA, Leggings de control
                        a#nav-18-tab.nav-item.nav-link(data-toggle='tab', href='#nav-18', role='tab', aria-controls='nav-18', aria-selected='false')
                            strong Delié es mayor confort
                        a#nav-19-tab.nav-item.nav-link(data-toggle='tab', href='#nav-19', role='tab', aria-controls='nav-19', aria-selected='false')
                            strong Fájate for men
                    #nav-tabContent.tab-content
                        #nav-17.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-17-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/wrtQVm14h1Q', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-18.tab-pane.fade(role='tabpanel', aria-labelledby='nav-18-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Zq-fE5zyx1I', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-19.tab-pane.fade(role='tabpanel', aria-labelledby='nav-19-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/PDAc7BXifAM', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#funcionalidad3

    .header-ecored
        h2 2.6 Funcionalidad y producción técnica de la prenda
    
    .card.shadow
        .card-body
            .row
                .col-12
                    #carouselExampleIndicators2.carousel.slide(data-ride='carousel')
                        ol.carousel-indicators
                            li.active(data-target='#carouselExampleIndicators2', data-slide-to='0')
                            li(data-target='#carouselExampleIndicators2', data-slide-to='1')
                            li(data-target='#carouselExampleIndicators2', data-slide-to='2')
                        .carousel-inner
                            .carousel-item.active
                                img.d-block.w-100(src='assets/images/pages/img23.png', alt='0')
                            .carousel-item
                                img.d-block.w-100(src='assets/images/pages/img24.png', alt='1')
                            .carousel-item
                                img.d-block.w-100(src='assets/images/pages/img25.png', alt='2')
                        a.carousel-control-prev(href='#carouselExampleIndicators2', role='button', data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#carouselExampleIndicators2', role='button', data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next
        .row
            .col-12
                nav.nav-tab-ecored
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-20-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-20', role='tab', aria-controls='nav-20', aria-selected='true')
                            strong Ropa blindada
                        a#nav-21-tab.nav-item.nav-link(data-toggle='tab', href='#nav-21', role='tab', aria-controls='nav-21', aria-selected='false')
                            strong Códigos de vestimenta del futuro
                        a#nav-22-tab.nav-item.nav-link(data-toggle='tab', href='#nav-22', role='tab', aria-controls='nav-22', aria-selected='false')
                            strong La revolución de la ropa inteligente
                    #nav-tabContent.tab-content
                        #nav-20.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-20-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/-HjTNGLh35s', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-21.tab-pane.fade(role='tabpanel', aria-labelledby='nav-21-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/uqQwKOYZn9w', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        #nav-22.tab-pane.fade(role='tabpanel', aria-labelledby='nav-22-tab')
                            .row.justify-content-center
                                .col-10
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/1s8DXEXFDY8', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.bg-color5.mx-0
            .col-12.col-md-6
                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.di-conexiones.com/la-moda-diseno-industrial-objetos-para-usar-tecnologias-diversas/" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Moda + Diseño Industrial
            .col-12.col-md-6
                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://hiconsumption.com/vollebak-black-squid-jacket/" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Vollebak Black Squid Jacket
            .col-12
                section.my-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.hindawi.com/journals/wcmc/2017/5203053/" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Interactive Smart Fashion Using User-Oriented Visible Light Communication