include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Aitex, Generaliitat Valenciana, Instituto Valenciano de Competitividad Empresarial, & Regional, F. E. de D. (s.f.). Informe de resultados TECMOD.", "")

        +referenciaItem("Aranaga, M. (2014). Porque nos vestimos [video] YouTube.", "https://www.youtube.com/watch?v=prrhTLfMKNg")

        +referenciaItem("Argentubetv. (2014). Ropa blindada: un hombre recibió dos disparos - YouTube. YouTube.", "https://www.youtube.com/watch?v=-HjTNGLh35s")

        +referenciaItem("ArtGio (2014). Colección de 21 videos de Teoría del color. [canal de video] YouTube.", "https://www.youtube.com/watch?v=9XlC5nxKSaw&list=PLebxDwZTxZebk_a6E1LroiN4Bj_wCpo8l")

        +referenciaItem("Baena, M. & Baquero, M. (2006). El confort como una característica importante en el diseño de prendas. Actas de Diseño N°1.", "")

        +referenciaItem("Baquero, M. & Baena, M. (2007). La prenda como producto de vestuario. Funcionalidad y comodidad. Iconofacto, 3(4), 96–99.", "")

        +referenciaItem("Barraza, A. (2010). La Antropometría en la Moda. Criterios de identificación del consumidor | Catálogo Digital de Publicaciones DC. Actas de Diseño.", "https://fido.palermo.edu/servicios_dyc/publicacionesdc/vista/detalle_articulo.php?id_libro=147&id_articulo=5990")

        +referenciaItem("Beginners. (2018). Water Soluble Graphites & Charcoal Pencil [video] YouTube.", "https://youtu.be/1_2nfvIwuHY")

        +referenciaItem("Bitanga, M. (2019, April 2). Vollebak Black Squid Jacket | HiConsumption. Hiconsumption.", "https://hiconsumption.com/vollebak-black-squid-jacket/")

        +referenciaItem("Canal de Sociología. (2016). Función y Forma. Una mirada al diseño y la innovación en España [video] YouTube.", "https://www.youtube.com/watch?v=gDdecWi3Cqo")

        +referenciaItem("Castillero, O. (s.f.). Ergonomía: qué es y cuáles son sus 4 tipos y funciones. Psicología y Mente. Retrieved July 13, 2020.", "https://psicologiaymente.com/miscelanea/ergonomia")

        +referenciaItem("CUAED, & UNAM. (2019). Estética y función en el diseño [video] YouTube.", "https://www.youtube.com/watch?v=VwcEM7yH_BY&t=49s")

        +referenciaItem("Decker Kris (2017). Los fundamentos de la comprensión de la teoría del color.", "https://99designs.com.co/blog/tips/the-7-step-guide-to-understanding-color-theory/")

        +referenciaItem("Definicion.de. (s.f.). Definicion.", "https://definicion.de/sastre/")

        +referenciaItem("De los Santos, A. (s.f.). Fundamentos visuales 2: Teoría del Color.", "http://ww7.anibaldesigns.com/")

        +referenciaItem("Dinngo. (s.f.). Design Thinking en Español. Designthinking.", "http://designthinking.es/inicio/index.php")

        +referenciaItem("Durán, V. A. (2015). Prendas funcionales Indumentaria para niños con parálisis cerebral con cuadriplejia. Universidad de Palermo.", "")

        +referenciaItem("El país. (2018). La revolución de la ropa inteligente | Tecnología [video] YouTube.", "https://www.youtube.com/watch?v=1s8DXEXFDY8&feature=youtu.be")